.back-body{
    background-color: #F9F9F9;
}

.font-header {
font-family: 'Muli', sans-serif;
}

.font-body{
font-family: 'Sintony', sans-serif;
}

.bold{
    font-weight: bolder;
}

.back-splash{
background-color: #65a689;
width: 100%;
height: 100vh;
}

.back-nav {
    background-color: #65a689;
    height: 10vh;
}

.color-btn-green {
   background-color: #c2f9e1;
}

.color-btn-purple {
    background-color: #c0c0c0;
}

.color-link {
   color: black;
}

.logo-nav {
    margin-top: 2vh;
}

.logo-splash {
    margin-top: 40vh;
    width: 80%;
}

.carrusel {
    margin-top: 5%;
}

.left {
    margin-right: 40%;
}

.top {
    margin-top: 5vh;
}

.margin-text{
    margin-left: 2%;
    margin-right: 2%;
}

.margin {
    margin-left: 5%;
    margin-right: 5%;
}

.input-size{
    margin-left: 5%;
    margin-right: 5%;
    width: 315px;
}
.margin-bottom{
    margin-bottom: 5%;
}

.img-icon {
    width: 100px;
    height: 100px;
    margin: 2%;
    margin-top: 20%;
    border-radius: 5%;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
}

.points {
    font-size: 5em;
}

#formControlsTextarea {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    font-family: 'Sintony', sans-serif;
    font-size: 1.5em;
}

pic{
    width: 100%;
    height: 30%;
}